
h1 {
    position: relative;
    bottom: 10px;
    font-family: monospace;
    font-size: 35px;
}

h4 {
    display: inline;
    margin-right: 50px;
    position: relative;
    bottom: 5px;
}

.button-start { 
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 4px 2px; /*top right bottom left*/
    margin-left: 240px;
    cursor: pointer;
    background-color: rgb(178, 233, 178);
    position: absolute;
    top: 44px;
    left: 301px;
}

.game {
    position: relative;
}

.image-hole {
    width: 80%;
    height: 40%;
    position: absolute;
    top: 75px;
    left: 10%;
}

.image-mole {
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 20%;
}

.show {
    display: block !important; /*priority for block*/ 
}

.hide {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 120px 120px 120px;
    grid-gap: 10px;
    border: 1px solid darkgreen;
    background: url('images/grass.jpeg');
    padding: 10px;
    width: 620px;
    cursor: url(images/mallet.png), auto;
}